<div class="langlist">    
    <div *ngFor= "let post of posts">
        <app-phrase [native]="post.native" [target]="post.target"></app-phrase>
    </div>
    <div>
        <button mat-icon-button class="material-icons" style="float:center" (click)="deleteLanguage()">delete</button>
    </div>
</div>
<div>
    <!-- TODO add a phrase button -->
    <button mat-flat-button class="languagebutton" (click)="onClickForm()" [hidden]="showForm"> Add a New Phrase </button>
    <div [hidden]="!showForm">
        <form [formGroup]="newphraseform" (ngSubmit)="onSubmit()">
            Native language: <input id="newNative" type="text" formControlName="newNative">
            Target language: <input id="newTarget" type="text" formControlName="newTarget">
            <button mat-flat-button type="submit" class="languagebutton"> Add phrase </button>
        </form>
    </div>
</div>
